@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add additional fonts for different locales */
body:lang(ar) {
  font-family: 'Noto Kufi Arabic', sans-serif;
}

@layer utilities {
  .direction {
    direction: initial;
  }
  .scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 4px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #b89564;
    border-radius: 9999px;
  }
  /* .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #57534e;
  } */
  .scrollbar::-webkit-scrollbar-track-piece {
    border-radius: 9999px;
    border: 1px solid #b89564;
  }
  .scrollbar::-webkit-scrollbar-track-piece:end {
    margin-right: 5rem;
  }
  .scrollbar::-webkit-scrollbar-track-piece:start {
    margin-left: 5rem;
  }
  @media (min-width: 640px) {
    .scrollbar::-webkit-scrollbar-track-piece:end {
      margin-right: 10rem;
    }
    .scrollbar::-webkit-scrollbar-track-piece:start {
      margin-left: 10rem;
    }
  }
  @media (min-width: 1024px) {
    .scrollbar::-webkit-scrollbar-track-piece:end {
      margin-right: 15rem;
    }
    .scrollbar::-webkit-scrollbar-track-piece:start {
      margin-left: 15rem;
    }
  }
  @media (min-width: 1280px) {
    .scrollbar::-webkit-scrollbar-track-piece:end {
      margin-right: 30rem;
    }
    .scrollbar::-webkit-scrollbar-track-piece:start {
      margin-left: 30rem;
    }
  }
  @media (min-width: 1540px) {
    .scrollbar::-webkit-scrollbar-track-piece:end {
      margin-right: 35rem;
    }
    .scrollbar::-webkit-scrollbar-track-piece:start {
      margin-left: 35rem;
    }
  }
}
